/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-card {
    width: 300px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .login-button {
    margin-top: 20px;
  }